body {
  font-family: 'Poppins','Open Sans', sans-serif;
}

p {
  font-size: 13px;
  color: #7a7a7a;
  line-height: 24px;
}

.page-content {
  width: 77.5%;
  float: right;
}

.content-section {
  padding-top: 80px;
  position: relative;
  width: 100%;
  display: inline-block;
  height: auto;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.collection-section{
  padding-top: 80px;
  position: relative;
  width: 100%;
  display: inline-block;
  height: auto;
  left:35%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#collection{
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

#collection .masonry {
  position: relative;
  width: 100%;
}

#collection .masonry .item img {
  transition: all 1s;
  width: 306px;
  height: 360px;
  overflow: hidden;
  margin-bottom: 30px;
}

#collection .masonry .item img:hover {
  opacity: 0.5;
}

a.ing {
  color: #ac8533;
}

.section-heading {
  text-align: left;
  position: relative;
  margin-bottom: 60px;
}

.section-heading h1 {
  margin-top: 0px;
  font-size: 32px;
  color: #232323;
  display: inline-block;
  margin-right: 50px;
}

.section-heading em {
  font-style: normal;
  font-weight: 700;
  color: #ac8533;
}

.section-heading p {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  color: #343434;
  position: absolute;
  top: 12.5px;
}

.white-button a {
  font-size: 13px;
  font-weight: 600;
  color: #ac8533;
  text-transform: capitalize;
  background-color: #fff;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.white-button a:hover {
  background-color: #ac8533;
  color: #fff;
}

.accent-button a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #ac8533;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.accent-button a:hover {
  background-color: #fff;
  color: #ac8533;
}

header {
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -75px;
}

/* Responsive Navigation */

.responsive-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: #ac8533;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.navbar-toggle {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.navbar-nav {
  margin: 0;
  border: none;
}

#main-nav ul {
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  margin-top: 59px;
  /* width: 100%; */
}
#main-nav ul li {
  margin: 15px 0px;
}
#main-nav ul li:hover {
  background-color: transparent;
}
#main-nav ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #ac8533;
  box-shadow: none;
  border: none;
}

#main-nav ul li a:hover {
  opacity: 0.5;
  background-color: transparent;
}

.navbar-toggle span {
  background-color: #232323;
}


/* Sidebar Style */

.sidebar-navigation {
  width: 22.5%;
  float: left;
  height: 100%;
  position: fixed;
  background-color: rgba(12,12,12,0.9);
  z-index: 10;
}

.sidebar-navigation .logo {
  position: absolute;
  width: 100%;
  height: 140px;
  line-height: 100px;
  background-color: #020202;
  padding: 20px;
  text-align: center;
}

.sidebar-navigation .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 100px;
  width: 100%;
  display: inline-block;
}

.sidebar-navigation .logo em {
  font-style: normal;
  font-weight: 300;
}

.sidebar-navigation nav {
  position: relative;
  top: 60%;
  left: 60%;
  -webkit-transform: translateX(-60%) translateY(-60%);
  -moz-transform: translateX(-60%) translateY(-60%);
  -ms-transform: translateX(-60%) translateY(-60%);
  -o-transform: translateX(-60%) translateY(-60%);
  transform: translateX(-60%) translateY(-60%);
}

.sidebar-navigation ul {
  margin-left: 45px;
  list-style: none;
  padding: 0;
}
.sidebar-navigation li{
  padding: 10px 0;
}
.sidebar-navigation span{
  display: inline-block;
  position:relative;
}
.sidebar-navigation nav a{
  display: inline-block;
  color: #ac8533;
  margin-top: 5px;
  text-decoration: none!important;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.circle{
  margin-right: 5px;
  height: 10px;
  width: 10px;
  left: 0px;
  top: -1px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ac8533;
  transition: all 0.3s;
}
.rect{
  height: 1px;
  width: 0px;
  left: 0;
  bottom: 5.5px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.1s, width 0.6s;
  -moz-transition: -webkit-transform 0.1s, width 0.6s;
  transition: transform 0.1s, width 0.6s;
}
.sidebar-navigation nav a:focus {
  color: #fff;
}
.sidebar-navigation nav a:hover, nav .active-section {
  color: #fff;
}
.sidebar-navigation nav a:hover span, nav .active-section span{
  background-color: #ddd;
}
.sidebar-navigation nav .active-section .rect{
  width: 30px;
}
.sidebar-navigation nav .active-section .circle{
  background-color: #fff;
}

.sidebar-navigation .social-icons {
  position: absolute;
  width: 100%;  
  bottom: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidebar-navigation .social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sidebar-navigation .social-icons li:last-child {
  margin-right: 0px;
}

.sidebar-navigation .social-icons li a {
  font-size: 18px;
  color: #ac8533;
  transition: all 0.5s;
}

.sidebar-navigation .social-icons li a:hover {
  color: #ac8533;
}


/* Slider Style */

.slider .content-section {
  padding-top: 0px;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.slider p a {
	color: #FFF;
}
.slider p a:hover {
	color: #FF0;
	text-decoration: none;
}

.Modern-Slider .info {
  text-align: right;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}

.Modern-Slider .info h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.Modern-Slider .info p {
  font-size: 15px;
  color: #fff;
}

.Modern-Slider .info .white-button {
  margin-top: 30px;
}

.Modern-Slider .info .white-button a:focus {
  outline: none;
}

.Modern-Slider .slick-dots {
  opacity: 0;
}

.Modern-Slider .NextArrow{
  outline: none;
  display: none;
  position:absolute;
  top:60px;
  right:60px;
  width:50px;
  height:50px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:32px/50px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .NextArrow:before{content:'\f105';}

.Modern-Slider .PrevArrow{
  outline: none;
  position:absolute;
  top:60px;
  right: 120px;
  width:50px;
  height:50px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:32px/50px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .item .image {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: block;
}

.Modern-Slider .item-1 .image {
  background-image: url(../img/slide_1.jpg);
}

.Modern-Slider .item-2 .image {
  background-image: url(../img/slide_2.jpg);
}

.Modern-Slider .item-3 .image {
  background-image: url(../img/slide_3.jpg);
}

.Modern-Slider .PrevArrow:before{content:'\f104';}

.Modern-Slider .item .image {
  animation: zoomin 12s ease-in-out infinite alternate;
  -webkit-animation: zoomin 12s ease-in-out infinite alternate;
}

@keyframes zoomin {
    0% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1.2);}
}

.Modern-Slider {background:transparent;}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}


/* Featured Style */

#collections {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
}

#collections .section-heading {
  margin-right: 20%;
}

#collections .content-section {
  display: inline-block;
  position: relative;
}

#collections .owl-dots {
  margin-top: 40px;
}

#collections .owl-dots .owl-dot span  {
  width: 12px;
  height: 12px;
  background-color: #cdcdcd!important;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
}

#collections .owl-dots .active span {
  background-color: #ac8533!important;
}

#collections .owl-dots button {
  outline: none;
}

#collections .owl-nav {
  position: absolute;
  display: inline-block;
  top: -110px;
  right: 0;
}

#collections .owl-nav button:focus {
  outline: none;
}

#collections .owl-nav .owl-prev span {
  margin-right: 10px;
}

#collections .owl-nav .owl-next span, #collections .owl-nav .owl-prev span {
  outline: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
  background-color: #eee;
  color: #232323;
  font-size: 42px;
  transition: all 0.5s;
}

#collections .owl-nav span:hover {
  background-color: #ac8533;
  color: #fff;
}

#collections .item {
  text-align: left;
  position: relative;
  z-index: 10;
}

#collections .item .image {
  position: relative;
}

#collections .item .image img {
  width: 100%;
  overflow: hidden;
}

#collections .item .image .featured-button a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background-color: #ac8533;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 100%;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.5s;
  position: absolute;
  z-index: 9;
  bottom: -44px;
  opacity: 0;
}

#collections .item:hover .featured-button a {
  bottom: 0;
  opacity: 1;
}

#collections .item .text-content {
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

#collections .item .text-content h4 {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#collections .item .text-content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 12.5px;
}



/* Projects Style */

#projects {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

#projects .masonry {
  position: relative;
  width: 100%;
}

#projects .masonry .item img {
  transition: all 1s;
  width: 306px;
  height: 360px;
  overflow: hidden;
  margin-bottom: 30px;
}

#projects .masonry .item img:hover {
  opacity: 0.5;
}



/* Video Presentation Style */

#about {
  text-align: center;
  background-color: #f4f4f4;
  padding: 100px 60px;
}

#about .section-heading {
  margin-bottom: 30px;
  text-align: center;
}

#about .section-heading h1 {
  display: block;
  margin: 0px;
}

#about .section-heading p {
  position: relative;
  margin: 0px;
}

#about .accent-button {
  margin-top: 30px;
}

.box-video{
  width: 100%;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
}

.box-video .bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.box-video .video-container{
  position: relative;
  margin: 0;
  z-index: 1;
}

.box-video .bt-play {
  position: absolute;
  top:50%;
  left:50%;
  margin:-30px 0 0 -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background:#fff;
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index:2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.box-video .bt-play:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  margin: -12px 0 0 -6px;
  border: solid transparent;
  border-left-color: #000;
  border-width: 12px 20px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.box-video:hover .bt-play {
  transform: scale(1.1);
}

.box-video.open .bg-video{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;  
}
.box-video.open .video-container{
  opacity: 1;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}


/*product collection Style */
.product-cover{
  position: relative;
  width: 100%;
  height: 400px;
  background: url("/img/bg.png") no-repeat;
  background-position: center;
  background-size: 100% 400px;
  margin: 0;
 padding: 0;
}
.product-cover img{
  position: absolute;
  top: 40px;
  width: 60%;
}
.product-cover .product-header{
  text-align: center;
  margin: 30px auto;
 font-size: 350%;
 font-weight: bold;
 color: beige;
}
.product-content .error-product{
  text-align: center;
  margin: 30px 400px;
 font-size: 500%;
 font-weight: bold;
 color:dimgrey;
}
.product-content{
  padding: 50px 0;
}
.product-content h1{
  font-size: 100px;
  font-weight: bold;
  padding-bottom: 100px;
}
.product-content .row .single-product{
  padding-bottom: 35px;
}
/* .product-desc{
  margin: 0 10px;
  padding-top: 30px;
  color: beige;
  font-weight: bold;
} */

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  }
  
  .hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
  }
  
  .hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
  margin: 0 auto;
  width: 100%;
  height: 360px;
  }
  
  .hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
  }
  
  .hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
  }
  
  .hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
  }
  
  .hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  }
  
  .hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
  }
  
  .hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
  }
  
  .hovereffect:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
  }
/* end product collection */

/* products Style */

#products {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
}

#products .tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 90px;
  width: 100%;
  background-color: #eee;
  border-bottom: 10px solid #ac8533;
}

#products .tabs li {
  display: inline-block;
  text-align: center;
  width: 16.666%;
  float: left;
  margin: 0;
  padding: 0;
}

#products .tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #232323;
  font-size: 16px;
  font-family: 'Kaushan Script','Arial' ;
  line-height: 80px;
  font-weight: 600;
  transition: 0.5s;
}

#products .tabs a:hover {
  color: #ac8533;
}


#products .tabs .active:hover {
  color: #fff;
}

#products .tabs .active {
  background-color: #ac8533;
  color: #fff;
}

.tabgroup {
  background-color: #f4f4f4;
  padding: 20px 30px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

#products .tabgroup ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#products .tabgroup ul li {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

#products .tabgroup ul li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#products .tabgroup ul li img {
  float: left;
  margin-right: 30px;
  max-width: 100%;
  overflow: hidden;
    height: 230px;
  width: 306px;
}
#products .tabgroup ul li .text-content {
  display: inline;
}

#products .item .text-content h4 {
  padding-top: 7.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#products .item .text-content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

#products .item .text-content .accent-button {
  margin-top: 25px;
}




/* Contact Style */

#contact {
  padding-top: 0px;
}

#contact-content {
  padding: 80px 60px;
}

#contact input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
}

#contact textarea {
  border-radius: 0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  height: 200px;
  max-height: 250px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

#contact button {
  font-size: 13px;
  border-radius: 0px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #ac8533;
  display: inline-block;
  height: 44px;
  line-height: 24px;
  outline: none;
  box-shadow: none;
  width: 100%;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

#contact button:hover {
  color: #232323;
  background-color: #f4f4f4;
}

.service-content {
  padding-left: 40px;
  padding-right: 60px;
  padding-bottom: 80px;
}
.service-content h4{
  padding-top: 40px;
}
.service-content p{
  font-size: 16px;
  padding: 10px 0;
}
/* Footer Style */

.footer {
  background-color: rgba(12,12,12,0.9);
  height: 100px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer p {
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 80px;
  color: #ac8533;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.footer p a {
  text-decoration: none;
  color: #ac8533;
  font-weight: 600;
}

.error-page{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  height: 300px;
  width: 100%;
}
.error-page .logo {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.error-page .fof {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.error-page .fof  h1 {
font-size: 500px;
font-weight: bold;
}
.p-fof{
  padding: 100px 10px;;
  font-size: 50px;
  line-height:1.2em;
font-weight: bold;
}

.text-content p{
  width: 100%;
  text-align: center;
}
/* Responsive Style */
@media (max-width:1225px){
  
.text-content p{
  width: 600px;
}
}
@media (max-width: 992px) {

  .product-cover{
    height: 300px;
    background-size: 100% 300px;
  }
  .product-cover img{
    width: 50%;
    margin: 30px 20px;
  }
  .product-cover .product-header{
    text-align: center;
    margin: 30px auto;
   font-size: 350%;
   font-weight: bold;
   color: beige;
  }
  .product-content .error-product{
    text-align: center;
    margin: 30px 400px;
   font-size: 500%;
   font-weight: bold;
   color:dimgrey;
  }
  .product-content{
    padding: 50px 0;
  }
  .product-content h1{
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 100px;
  }
  .product-content .row .single-product{
    padding-bottom: 35px;
  }
  .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    margin: 0 auto;
    width: 100%;
    height: 360px;
    }
    .hovereffect {
      width:100%;
      height:100%;
      float:left;
      overflow:hidden;
      position:relative;
      text-align:center;
      cursor:default;
      margin: 20px auto;
      }
      .single-product{
        width:100%;
        padding: 0 auto;
      }
    .hovereffect .overlay {
      width:100%;
      height:100%;
      position:absolute;
      overflow:hidden;
      top:0;
      left:0;
      opacity:0;
      background-color:rgba(0,0,0,0.5);
      -webkit-transition:all .4s ease-in-out;
      transition:all .4s ease-in-out
      }
  .responsive-nav {
    display: none;
  }

  .sidebar-navigation .logo a {
    font-size: 18px;
  }

  .sidebar-navigation nav a {
    font-size: 13px;
  }

  .sidebar-navigation nav ul {
    margin-left: 30px;
  }

  .sidebar-navigation .social-icons li a {
    font-size: 15px;
  }
  .error-page .fof  h1 {
    font-size: 300px;
    font-weight: bold;
    }
    .p-fof{
      padding: 150px 5px;
      font-size: 30px;
    font-weight: bold;
    }

    
.text-content p{
  width: 500px;
  font-size: 10px;
}

}

@media (max-width: 885px) {
  
  #products .tabgroup ul li {
    display: block;
    text-align: center;
  }
  #products .tabgroup ul li img {
    width: 100%;
}
  .text-content p {
    width: 100%;
}



}
@media (max-width: 767px) {


#projects .masonry {
    margin-left: 19%;
}
  .product-cover .product-header{
    text-align: center;
    margin: 30px auto;
   font-size: 250%;
   font-weight: bold;
   color: beige;
  }
  .product-content h1{
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 70px;
  }
  .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    margin: 0 auto;
    width: 100%;
    height: 360px;
    }
    .hovereffect {
      width:100%;
      height:100%;
      float:left;
      overflow:hidden;
      position:relative;
      text-align:center;
      cursor:default;
      margin: 20px auto;
      padding: 20px 20px;
      }
      .single-product{
        width:100%;
        padding: 0 auto;
      }
    .hovereffect .overlay {
      width:100%;
      height:100%;
      position:absolute;
      overflow:hidden;
      top:0;
      left:0;
      opacity:0;
      background-color:rgba(0,0,0,0.5);
      -webkit-transition:all .4s ease-in-out;
      transition:all .4s ease-in-out
      }
  .responsive-nav {
    display: block;
    height: 60px;
  }

  .page-content {
    width: 100%;
  }

  .Modern-Slider .info {
    text-align: center;
    right: 0px;
    padding: 0px 30px;
  }

  .Modern-Slider .NextArrow{
    outline: none;
    display: none;
    position:absolute;
    top:120px;
    right: 50%;
    transform: translateX(50%);
    margin-right: -30px;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.50);
    border:0 none;
    text-align:center;
    font:32px/50px FontAwesome;
    color:#FFF;
    z-index:5;
  }

  .Modern-Slider .NextArrow:before{content:'\f105';}

  .Modern-Slider .PrevArrow{
    outline: none;
    position:absolute;
    top:120px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -30px;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.50);
    border:0 none;
    text-align:center;
    font:32px/50px FontAwesome;
    color:#FFF;
    z-index:5;
  }
}

@media (max-width: 690px)
{
  .section-heading p {
    position: relative;
  }

  #collections {
    padding-left: 15px;
    padding-right: 15px;
  }

  #collections .owl-nav {
    position: absolute;
    display: inline-block;
    top: -220px;
    right: 0;
  }

  #projects {
    padding-left: 15px;
    padding-right: 15px;
  }

  #collection {
    margin: 30px auto;

  }
 
  #projects .masonry .item img {
    transition: all 1s;
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
#collection {
    margin: 30px auto;
}
#collection {
    padding-left: 60px;
    padding-bottom: 50px;
}
.collection-section{
  left:41%;
}

  #about {
    padding-left: 15px;
    padding-right: 15px;
  }

  #products {
    padding-left: 15px;
    padding-right: 15px;
  }

  #products .tabs a {
    font-size: 10px;
  }

  #products .tabgroup ul li img {
    float: none;
    margin-bottom: 15px;
  }
  #products .tabgroup ul li .text-content {
    display: block;
  }

  #contact-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .error-page .fof  h1 {
    font-size: 100px;
    font-weight: bold;
    }
    .p-fof{
      padding: 150px 5px;
      font-size: 30px;
    font-weight: bold;
    }
    .text-content p{
      width: 100%;
    }

}
